{% load static %}

<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Socialize</span>
          </a>
          <p>Socialize, Interact, and enjoy through our platform.
          </p>
          
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            
          </ul>
        </div>

        
       

      </div>
    </div>

    

  </footer><!-- End Footer -->