{% load static %}

<section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      
      
    </div>
</section><!-- End Top Bar -->

<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="{% static 'img/logo.png' %}" alt=""> -->
            <h1>Socialize<span>.</span></h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="btn-get-started">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}" class="btn-get-started">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav><!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</header><!-- End Header -->
